* {
    box-sizing: border-box;
}

body {
    padding: 5%;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;


}

h1 {
    text-align: center;
    font-family: bold 700;
}

form {
    border: 1px solid rgb(212, 212, 212);
    border-top: rgb(232, 231, 231);
    padding: 30px;
    box-shadow: 0px 5px 5px rgb(212, 212, 212),
        -5px 5px 5px rgb(212, 212, 212), 10px 8px 15px rgb(212, 212, 212);
    height: 160px;
}

input[type=text] {
    padding: 10px;

    float: left;
    width: 70%;
    border: 1px solid rgb(214, 214, 214);
    border-top: none;
    border-right: none;
    border-left: none;

}

button {
    height: 10px;
    width: 200px;
    padding: 15px;
    background: #f80404;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-radius: 25px;

    cursor: pointer;
}

label,
input,
button {
    display: flex;


}


.linc {
    border: 1px solid rgb(174, 172, 172);
    width: 600px;
    padding: 10%;
    border-top: 0px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#firstheading {
    color: rgb(135, 134, 134);
    font-size: 20px;

}

span {
    color: red;
}

a {
    color: red;
}